.button {
    background: $dark-blue;
    border: none;
    border-bottom: .6rem solid darken($dark-blue, 5%);
    color: white;
    display: inline-block;
    font-size: $font-size-medium;
    font-weight: bold;
    line-height: 1;
    padding: $m-size;
    text-align: center;
    text-decoration: none;
}

.button--big {
    font-size: $font-size-large;
    padding: $m-size $l-size;
}

.button--link {
    background: none;
}

.button--separated {
    font-size: $font-size-large;
    margin: $l-size;
    position: absolute;
}

.button__no-bottom {
    border-bottom: none;
}