.list-container {
    max-width: 23rem;
    padding: 0 $m-size;
}

.centered-container {
    display: flex;
    justify-content: center;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 0 $l-size;
}

.container-shift-down {
    margin-top: 1.6rem;
}

.container-shift-up {
    margin-top: -8%;
}

.container-shift-right {
    margin-left: 2rem;
}

.container-shift-right-more {
    margin-left: 8rem;
}

.content-container {
    display: flex;
    justify-content: space-between;
    max-width: 70rem;
}

.dashboard-container {
    display: flex;
    justify-content: space-evenly;
}