.centered-container {
    display: flex;
    justify-content: center;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 0 $l-size;
}

.container-shift-down {
    margin-top: $m-size;
}

.container-shift-up {
    margin-top: -8%;
}

.container-shift-right {
    margin-left: 2rem;
}

.container-shift-right-more {
    @media (min-width: $desktop-breakpoint) {
        margin-left: 8rem;
    }
}

.content-container {
    display: flex;
    justify-content: space-between;
    max-width: 70rem;
    
    @media (max-width: $desktop-breakpoint) {
        display: flex;
        flex-direction: column;
    }
}

.list-container {
    margin-bottom: $xxl-size;
    margin-top: $m-size;
    min-width: 23rem;
}